@import url('../assets/fonts/stylesheet.css'); 

.btn {
    border-radius: 2px !important;
    box-shadow: 0 17px 30px -16px #ff428f !important;
    background-image: linear-gradient(92deg, #ff4368, #ff3131) !important;
    font-size: 1vw;
    padding: 1vw 2vw !important; 
}